*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
body{
    background: black;
    color: #fff;
}
#header{
    width: 100%;
    height: 100vh;
    background-image: url(../fitness_tracker/R.png);
    background-size:700px 500px;
    background-repeat: no-repeat;
    background-position:right ;
}
.container{
    padding: 10px 10%;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.logo{
    width: 100px;

}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 5px 20px;
}
nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}
nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover::after{
    width: 100%;
}
.header-text{
    margin-top: 10%;
    font-size: 30px;

}
.header-text h1{
    font-size: 60px;
    margin-top: 20px;
}
.header-text h1 span{
    color: #ff004f;
}
/*-------about----------*/
#about{
    padding: 80px 0;
    color: #ababab;

}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-col1{
    flex-basis: 35%;
}
.about-col1 img{
    width: 100%;
    border-radius: 15px;
}
.about-col2{
    flex-basis: 60%;

}
.sub-title{
    font-size: 60px;
    font-weight: 600;
    color: #fff;
}
.tab-tiles{
    display: flex;
    margin: 20px 0 40px;
    
}
.tab-links{
    margin-right: 50px;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}
.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}
.tab-links.active-link::after{
    width: 50%;


}
.tab-contents{
    
    list-style: none;
    margin: 10px 0;

}
.tab-contents ul li span{
    color: #b54769;
    font-size: 14px;
}
.tab-contents{
    display: none;
}
.tab-contents.active-tab{
    display: block;
}
#loginsignup {
    text-align: center;
    margin-bottom: 30px;
    padding: 80px;
  }
  
  #loginsignup h1 {
    font-size: 34px;
    margin-bottom: 10px;
    padding: 20px;
  }
  
  #loginsignup a {
    display: inline-block;
    padding: 10px 20px;
    background-color:  #ff004f;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
  }
  
  #loginsignup a:hover {
    background-color: #fff;
    color: #ff004f;
  }
  
  #services {
    text-align: center;
    padding: 20px;
    padding: 40px;
  }
  
  #services h1 {
    font-size: 34px;
    margin-bottom: 20px;
    padding: 40px;
  }
  
  #services a {
    display: block;
    margin-bottom: 10px;
    padding: 10px 20px;
    background-color: #ff004f;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
  }
  
  #services a:hover {
    background-color: white;
    color: #ff004f;
  }
  
